<html>

<head>
  <title>Stagecast Test</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
    .mt30 {
      margin-top: 30px;
    }
  </style>
</head>

<body>
  <div class="container mt30">
    <div class="row justify-content-center">
      <div class="col">
        <h1>Stagecast Test</h1>
        <h4 class="italics text-muted">Angular Frontend Developer</h4>
        <p>Click <a href="https://docs.google.com/document/d/1Vec78NtEvOGi9_VPJFyyBMPT5Enr_dv1S0hOBfqt2sE/edit">here</a> for more info.</p>

        <span class="mt30">Note:</span> <br>
        <p class="lead">This is mockup service used for development. Therefore, it does not offer advanced features and data checks. </p>

        <hr>
      </div>

    </div>
    <div class="row justify-content-center mt30">
      <div class="col">
        <h3>Tasks</h3>
        <h5>Part 1 - create a sign up journey</h5>
        <p>You will need:</p>
        <ul>
          <li><a href="/api/v1/docs#section0.1">Register Api</a>: sends an email to the specified email.</li>
          <li><a href="/api/v1/docs#section0.2">Activate Api</a>: to be called after the registration to add password and activate.</li>
          <li> <a href="/api/v1/docs#section0.3">Login Api</a>: get the token</li>
          <li> <a href="/api/v1/docs#section0.6">Delete Api (optional)</a>: this api does not require authentication, in this way you can test with your own email. </li>
        </ul>

        <h5>Part 2 - create a test the validates the input form (view 1)</h5>

        <p>Use the Karma testing tool provided by angular to unit test the first view. What to test is up to your own feelings.</p>
      </div>
    </div>
  </div>
</body>

</html>